<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>addnewcar</servlet-name>
        <servlet-class>p.addnewcar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatingLogin</servlet-name>
        <servlet-class>ValidatingLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allocation</servlet-name>
        <servlet-class>allocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcab</servlet-name>
        <servlet-class>addcab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove</servlet-name>
        <servlet-class>remove</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addnewcar</servlet-name>
        <url-pattern>/addnewcar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatingLogin</servlet-name>
        <url-pattern>/ValidatingLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allocation</servlet-name>
        <url-pattern>/allocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcab</servlet-name>
        <url-pattern>/addcab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
